.banner {
  position: relative;
  width: 95%;
  height: 223px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  

}

.banner_img {
  border-radius: 25px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.banner_text {
  position: absolute;
  color: #FFFFFF;
  font-size: 48px;
  top: 30px;
  margin-left: 20px;
  margin-right: 70px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      1px 1px 0 #000,
      -1px 1px 0 #000,
      -1px -1px 0 #000,
      1px -1px 0 #000;

}

.banner_img.banner_shadow {
  box-shadow: 0px 4px 4px 0px #00000040;
  filter: brightness(40%);
}

@media (max-width: 1024px) {
  .banner_text {
      font-size: 32px;
  }

  .banner {
      height: 190px;
  }

  .banner_img {
      border-radius: 15px;
  }
}

@media (max-width: 768px) {
  .banner {
      height: 111px;
      justify-content: center;
      margin-bottom: 20px;
     
  }

  .banner_img {
      border-radius: 10px;
  }

  .banner_text {
      font-size: 24px;
      text-shadow: none;
      margin-left: 16px;
  }

  .banner_img.banner_shadow {
      box-shadow: none;
    
  }
}