.collapse_all {
  display: flex;
  flex-direction: column;
  width: 83%;
  margin-bottom: 30px;
  align-items: center;
}

.collapse_item {
  background-color: #FF6060;
  border-radius: 5px;
  text-align: center;
  z-index: 100;
  width: 100%;
}

.collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 20px;
  height: 34px;
}

.collapse_title {
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
}

.collapse_content_div {
  background-color: #F6F6F6;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease, padding 0.5s ease;
  padding: 0 20px; /* Initially set padding to 0 to animate */
  
}

.collapse_content {
  font-size: 18px;
  padding: 20px 0; /* Padding will be animated */
  line-height: 1.5;
}

.collapse_list {
  list-style-type: none;
  padding-left: 20px;
  font-size: 18px;
  margin: 10px 0;
}

.collapse_list li {
  margin-bottom: 4px;
}

.arrow {
  width: 32px;
  height: 32px;
  transition: transform 0.5s;
}

.rotate {
  transform: rotate(-180deg);
}

.expand {
  max-height: 500px; /* Adjust this value as needed */
  padding: 10px 20px; /* Add padding when expanded */
}

.collapsed {
  max-height: 0;
  padding: 0 20px; /* Remove padding when collapsed */
}

@media (max-width: 1024px) {
  .collapse_item {
    height: 45px;
  }

  .arrow {
    width: 25px;
    height: 25px;
    margin: 10px 10px;
  }
}

@media (max-width: 768px) {
  .collapse_all {
    width: 100%;
    margin-bottom: 20px;
    background-color: #F6F6F6;
  }

  .collapse {
    padding: 0px;
  }

  .collapse_item {
    height: 30px;
  }

  .collapse_title {
    font-size: 13px;
    margin: 7px 10px 10px;
  }

  .collapse_content {
    font-size: 12px;
    margin: 45px 20px;
  }

  .arrow {
    width: 20px;
    height: 20px;
    margin: 5px 10px;
  }

  .collapse_list {
    font-size: 12px;
    margin-top: 15px;
  }

  .collapse_list li {
    margin-bottom: 3px;
  }
}
