.collapse_all {
  display: flex;
  flex-direction: column;
  width: 83%;
  margin-bottom: 30px;
  align-items: center;
}

.collapse_item {
  height: 54px;
  background-color: #FF6060;
  border-radius: 5px;
  text-align: center;
  z-index: 100;
  width: 100%;
}

.collapse {
  display: flex;
  height: 54px;
  justify-content: space-between;
}

.collapse_title {
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
  margin: auto 15px;
}

.collapse_content {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.5;
}

.collapse_list {
  list-style-type: none;
  padding-left: 20px;
  font-size: 18px;
  margin-top: 27px;
}

.collapse_list li {
  margin-bottom: 4px;
}

.arrow {
  width: 32px;
  height: 32px;
  margin-right: 20px;
  margin-top: 10px;
  transition: transform 0.5s;
}

.rotate {
  transform: rotate(-180deg);
}

.collapse_content_div {
  background-color: #F6F6F6;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
  z-index: 1;
}

/* Animation Collapse */

.expand {
  animation: fadeIn 0.6s ease forwards;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(-20%);
  }

  100% {
      height: auto;
      opacity: 1;
      transform: translateY(0);
  }
}

.collapsed {
  animation: fadeOut 0.6s ease forwards;
}

@keyframes fadeOut {
  0% {
      opacity: 1;
      transform: translateY(0);
  }

  100% {
      opacity: 1;
      transform: translateY(-30%);
      height: 0;
  }
}

@media (max-width: 1024px) {
  .collapse_item {
      height: 45px;
  }

  .arrow {
      width: 25px;
      height: 25px;
      margin: 10px 10px;
  }
}

@media (max-width: 768px) {
  .collapse_all {
      width: 100%;
      margin-bottom: 20px;
  }

  .collapse_item {
      height: 30px;
  }

  .collapse_title {
      font-size: 13px;
      margin: 7px 10px 10px;
  }

  .collapse_content {
      font-size: 12px;
      margin: 15px 20px;
  }

  .arrow {
      width: 20px;
      height: 20px;
      margin: 5px 10px;
  }

  .collapse_list {
      font-size: 12px;
      margin-top: 15px;
  }

  .collapse_list li {
      margin-bottom: 3px;
  }
}